<div  style="width: 500px; padding-top: 50px;" >

<%= form_with(model: sprint,:url => {:action => route_path}) do |form| %>
  <% if sprint.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(sprint.errors.count, "error") %> prohibited this sprint from being saved:</h2>

      <ul>
        <% sprint.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
          <%= form.hidden_field :project_id %>

  <div class="col-md-12">
    <%= form.label :title, style: "display: block",:class=>"form-label" %>
    <%= form.text_field :title ,:class => 'form-control' %>
  </div>

  
  <div class="col-md-12">
    <%= form.label :description, style: "display: block",:class=>"form-label" %>
    <%= form.text_area :description ,:class => 'form-control' %>
  </div>

  
  <div class="col-md-12">
    <%= form.label "Expected Ending date", style: "display: block",:class=>"form-label" %>
    <%= form.date_select :expected_end_date ,:class => 'form-control' %>
  </div>
  <div>
  <div class="col-md-4 my-4">
   
   <%= form.submit :class=>"btn btn-primary"%>
    
  </div>
<% end %>

<br>

</div>