<div id="<%= dom_id issue %>">
  <p>
    <strong>Project:</strong>
    <%= issue.project_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= issue.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= issue.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= issue.issue_type %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= issue.status %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= issue.employee_id %>
  </p>

</div>
