<p style="color: green"><%= notice %></p>
<div class="container">
<%= link_to "New issue", new_issue_path(@project_id),:class => "btn btn-primary m-2" %>
<h1>My Issues</h1>

<div id="issues">
  <% @issues.each do |issue| %>
    <%= render issue %>
    <p>
      <%= link_to "Show this issue", issue %>
      |<%= link_to "Change status", assign_issue_show_issues_path(issue) %>
      
      
    </p>
  <% end %>
</div>
</div>

