<p style="color: green"><%= notice %></p>


  
<%= render @issue %>
<div class="container">
<div>
  <%= link_to "Edit this issue", edit_issue_path(@issue),:class => "btn btn-primary m-2" %> 
  <%= link_to "Back to Projects", projects_path ,:class => "btn btn-primary m-2"%>
  <%= link_to "Assign this issue", assign_issue_show_issues_path(@issue) ,:class => "btn btn-primary m-2"%>
  <%= button_to "Destroy this issue", @issue, method: :delete ,:class => "btn btn-danger m-2"%>
</div>
</div>
