
<div class="container">
<h1>Tasks</h1>
<div>
<%= link_to "Add New Task", new_project_task_path,class: "btn btn-primary" if ((can? :new, Task) && !(params.has_key?(:sprint_id))) %>
<%= link_to "Add New Task", new_project_sprint_task_path,class: "btn btn-primary" if ((can? :new, Task) && (params.has_key?(:sprint_id)))%>
<%= link_to "View Kanban", kanban_project_task_index_path,class: "btn btn-primary" if (!(current_user.has_role? "customer") && !(params.has_key?(:sprint_id))) %>
<%= link_to "View Kanban", kanban_project_sprint_task_index_path,class: "btn btn-primary" if (!(current_user.has_role? "customer") && (params.has_key?(:sprint_id)))%>
</div>

<br><br>
<table style="text-align: center; border: 1px solid black" frame="VOID" rules="ALL">
  <tr  style="background-color: #DCDCDC;">
    <th style="padding: 10px">Task Name</th>
    <th style="padding: 10px">Description</th>
    <th style="padding: 10px">Employee Name</th>
    <th style="padding: 10px">Employee Email</th>
    <th style="padding: 10px">status</th>
    
    <th style="padding: 10px"> Action </th>

    <th style="padding: 10px"> Hours </th>
    
  </tr>
  <% @tasks.each do |task| 
        employee = User.find(task.user_id)
  %>
  <tr style="background-color: #FFF0F5; padding:10px" id="column_<%= task.id%>">
    <td>
      <%= task.title %>
      <%
        # params[:project_id] = task.sprint.project_id
        params[:task] = task.id
      %>
    </td>
     <td style="padding:10px">
      <%= task.description %>
    </td>
    <td style="padding:10px">
      <%= employee.name%>
    </td>
    <td style="padding:10px">
      <%= employee.email %>
    </td>
    <td style="padding:10px">
    <% if can? :edit, task%>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="changeStatusDropDown_<%= task.id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= task.status%>
        </button>
        <div class="dropdown-menu" aria-labelledby="changeStatusDropDown_<%= task.id%>">
          <% @status.each do |status| %>
            <%=  link_to(status[0], "#", {:class => "dropdown-item", "task_id" => task.id,  "onClick" => "changeStatus('#{task.id}','#{status[0]}')" })%>
          <% end %>
      </div>
      <% else %>
      <%= task.status%>
      <% end %>
  </div>
    </td>
    <td style="padding:10px">
    <% if can? :show, task %>
      <%= link_to "View", project_task_path(id: task) , class: "badge badge-primary" unless params.has_key?(:sprint_id)%>
      <%= link_to "View", project_sprint_task_path(id: task) , class: "badge badge-primary" if params.has_key?(:sprint_id)%>
    <% end
      if ((can? :edit, Task) && (['manager', 'admin'].include? current_user.roles.first.name))
    %>
    
      <%= link_to "Edit", edit_project_task_path(id: task) , class: "badge badge-success"%>

      <% end
        if can? :destroy, task
      %>
    
      <%= link_to "Delete", 'javascript:;' , "onClick" => "deleteTask('#{task.sprint.project.id}','#{task.id}')"  , class: "badge badge-danger" %>
      
    </td>
    <% end%>
    <td >
      <div id="hours_<%=task.id%>"><%= @hours[task.id] %>
      </div>
    </td>
    
  </tr>
    
  <% end %>

</table>
</div>
<script>
// ajax method for change project status 
// change no of hours

function changeStatus(id,drop_option) {
  select_id="#select_id_"+id;
  console.log(drop_option);
  $.ajax
  ({
    type: "patch",
    url: "/task/change_status",
    dataType: 'json',
    async: false,
    data: '{"id": "' + id + '", "status" : "' + drop_option + '"}',
    success: function (x){
      select_hours_id="#hours_"+id;
      $(select_hours_id).html(x["respons_message"])
      drop_button_id="#changeStatusDropDown_"+id;
     $(drop_button_id).html(drop_option)
      
 }
    
});
}

function deleteTask(project_id,id) {
    console.log(id,project_id);
    column_id="#column_"+id;
    url_str="/projects/"+project_id+"/task/"+id;
    if (confirm('Are you sure?')) {
      $.ajax
      ({
        type: "delete",
        url: url_str,
        async: false,
        data: '{form_where:"ajax"}',
    
        success: function (x){
          $(column_id).remove();
          console.log(x);
          $("#notice").html(x["respons_message"]);
        }
        
      });

    }
   
}

</script>
