
<div class="container">
<h1>Tasks</h1>
<div>
<%= link_to "Add New Task", new_project_task_path,class: "btn btn-primary" if ((can? :new, Task) && !(params.has_key?(:sprint_id))) %>
<%= link_to "Add New Task", new_project_sprint_task_path,class: "btn btn-primary" if ((can? :new, Task) && (params.has_key?(:sprint_id)))%>
<%= link_to "View Kanban", kanban_project_task_index_path,class: "btn btn-primary" if (!(current_user.has_role? "customer") && !(params.has_key?(:sprint_id))) %>
<%= link_to "View Kanban", kanban_project_sprint_task_index_path,class: "btn btn-primary" if (!(current_user.has_role? "customer") && (params.has_key?(:sprint_id)))%>
</div>
<div>
<%= form_for_filterrific @filterrific, html: { id: 'filterrific-no-ajax-auto-submit', class:"form-inline mt-3" } do |f| %>
        <div class= "d-flex align-items-center justify-content-around">
            <div>
              <%= f.text_field(
                :task_search_query,
                class: 'filterrific-periodically-observed form-control',
                placeholder: "Search"
              ) %>
              <%= f.select(
                :with_task_status, 
                @filterrific.select_options[:with_task_status],
                { include_blank: '- Status -'},
                {class:"form-control"}
              ) %>
              <%= f.select(
                :task_sorted_by, 
                @filterrific.select_options[:task_sorted_by], 
                { include_blank: '- Sorted By -' },
                {class:"form-control"}
                ) %>
              <%= f.submit 'Filter', class: "btn btn-primary" %>
              <%= link_to(
                'Reset filters',
                reset_filterrific_url,
                :class=>"btn btn-secondary"
              ) %>
          </div>
        </div>
        <%# add an automated spinner to your form when the list is refreshed %>
        <%# render_filterrific_spinner %>
      <% end %> 
</div>
<br><br>
<table class="table  table-striped table-hover table-bordered border-primary" style="text-align: center;" frame="VOID" rules="ALL">
  <thead  class="bg-info table-info">
    <th>Task Name</th>
    <th>Description</th>
    <th>Employee Name</th>
    <th>Employee Email</th>
    <th>status</th>
    
    <th> Action </th>

    <th> Hours </th>
    
  </thead>
  <tbody class="table-info">
  <% @tasks.each do |task| 
        employee = User.find(task.user_id)
  %>
  <tr d="column_<%= task.id%>">
    <td scope="row">
      <%= task.title %>
      <%
        # params[:project_id] = task.sprint.project_id
        params[:task] = task.id
      %>
    </td >
     <td scope="row">
      <%= task.description %>
    </td>
    <td scope="row">
      <%= employee.name%>
    </td>
    <td scope="row">
      <%= employee.email %>
    </td>
    <td scope="row">
    <% if can? :edit, task%>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="changeStatusDropDown_<%= task.id%>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= task.status%>
        </button>
        <div class="dropdown-menu" aria-labelledby="changeStatusDropDown_<%= task.id%>">
          <% @status.each do |status| %>
            <%=  link_to(status[0], "#", {:class => "dropdown-item", "task_id" => task.id,  "onClick" => "changeStatus('#{task.id}','#{status[0]}')" })%>
          <% end %>
      </div>
      <% else %>
      <%= task.status%>
      <% end %>
    </td>
    <td scope="row">
      <div class="row px-3">
        <div class="col-4">
          <% if can? :show, task %>
            <%= link_to "", project_task_path(id: task) , class: "fa fa-eye text-primary" unless params.has_key?(:sprint_id)%>
            <%= link_to "", project_sprint_task_path(id: task) , class: "fa fa-eye text-primary" if params.has_key?(:sprint_id)%>
          <% end %>
        </div>
        <div class="col-4">
          <%if ((can? :edit, Task) && (['manager', 'admin'].include? current_user.roles.first.name)) %>
            <%=link_to "", edit_project_task_path(id: task) , class: "fa fa-edit text-success"%>
          <% end %>  
         </div>
         <div class="col-4">
          <% if can? :destroy, task %>
          <%= link_to "", 'javascript:;' , "onClick" => "deleteTask('#{task.sprint.project.id}','#{task.id}')"  , class: "fa fa-trash text-danger" %>
        </div>
      </div>
    </td>
    <% end%>
    <td scope="row">
      <div id="hours_<%=task.id%>"><%= @hours[task.id] %>
      </div>
    </td>
    
  </tr>
    
  <% end %>
    </tbody>

</table>
</div>
<script>
// ajax method for change project status 
// change no of hours

function changeStatus(id,drop_option) {
  select_id="#select_id_"+id;
  console.log(drop_option);
  $.ajax
  ({
    type: "patch",
    url: "/task/change_status",
    dataType: 'json',
    async: false,
    data: '{"id": "' + id + '", "status" : "' + drop_option + '"}',
    success: function (x){
      select_hours_id="#hours_"+id;
      $(select_hours_id).html(x["respons_message"])
      drop_button_id="#changeStatusDropDown_"+id;
     $(drop_button_id).html(drop_option)
      
 }
    
});
}

function deleteTask(project_id,id) {
    console.log(id,project_id);
    column_id="#column_"+id;
    url_str="/projects/"+project_id+"/task/"+id;
    if (confirm('Are you sure?')) {
      $.ajax
      ({
        type: "delete",
        url: url_str,
        async: false,
        data: '{form_where:"ajax"}',
    
        success: function (x){
          $(column_id).remove();
          console.log(x);
          $("#notice").html(x["respons_message"]);
        }
        
      });

    }
   
}

</script>
