<h1>Tasks</h1>
<p style="color: green"><%= notice %></p>
<%= link_to "Add New Task", new_project_task_path if can? :new, Task%>

<br><br>
<table border="10" frame="VOID" rules="ALL">
  <tr>
    <th>Task Name</th>
    <th>Description</th>
    <th>Employee Name</th>
    <th>Employee Email</th>
    <th>status</th>
    
    <th> Action </th>

    <th> Hours </th>  
  </tr>
  <% @tasks.each do |task| 
        employee = User.find(task.user_id)
  %>
  <tr>
    <td>
      <%= task.title %>
      <%
        # params[:project_id] = task.sprint.project_id
        params[:task] = task.id
      %>
    </td>
     <td>
      <%= task.description %>
    </td>
    <td>
      <%= employee.name%>
    </td>
    <td>
      <%= employee.email %>
    </td>
    <td>
      <%= task.status %>
    </td>
    <td>
      <%= link_to "View", project_task_path(id: task) if can? :show, task %>
      <%= link_to "Edit", edit_project_task_path(id: task) if can? :edit, task %>
      <%= link_to "Delete", [task.sprint.project, task] , data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } if can? :destroy, task%>
    </td>
    <td>
      <%= @hours[task.id] %>

    </td>
  </tr>
    
  <% end %>

</table>