<p style="color: green"><%= notice %></p>



<div class="container">
<div>
  <%= link_to "Edit this Task", edit_project_task_path(id: @task)  ,:class => "btn btn-primary m-2"%> 
  <%= link_to "Back to Tasks", project_task_index_path(@task.sprint.project) ,:class => "btn btn-primary m-2" %> 
  <%# ,[@task.sprint.project, @task] %>
  <%= link_to "Destroy this Task",[@task.sprint.project,@task],class:"btn btn-danger text-white",  data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } if can? :destroy, @task %>
   
</div>
<%= render "task", task: @task%>
<br>

<div class="card" style="width: auto;  border-radius: 25px;">
  <div class="card-body " style="background-color: #e0ffff; border-radius: 25px;">
<div class="p-2">
    <strong>Employee Name : </strong>
    <%= @task.user.name%>
</div>
<div class="p-2">
    <strong>Email : </strong>
    <%= @task.user.email%>
</div>
<div class="p-2">
    <strong>Due Data : </strong>
    <%= @task.due_date%>
</div>
<div class="p-2">
    <strong>Status : </strong>
    <%= @task.status%>
</div>
<br>
</div>
</div>
</div>