<div  class="field">
        <%= form.label :name,class:"form-label" %><br>
        <%= form.text_field :name,class:"form-control" %>
        <% @user.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
        <% end %>

    </div>
    <div  class="field">
        <%= form.label :email,class:"form-label"%><br>
        <%= form.email_field :email,class:"form-control" %>
        <% @user.errors.full_messages_for(:email).each do |message| %>
        <div><%= message %></div>
        <% end %>

    </div>
    <div  class="field">
        <%= form.label :password,class:"form-label" %><br>
        <%= form.password_field :password,class: "form-control"%>
        <%  @user.errors.full_messages_for(:password).each do |message| %>
        <div><%= message %></div>
        <% end %>

    </div>
    <div  class="field">
      <%= form.label :password_confirmation,class: "form-label" %><br>
      <%= form.password_field :password_confirmation,class: "form-control" %>
    </div>

  <div class="field">
    <%= form.label :current_password,class:"form-label" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= form.password_field :current_password,class:"form-control", autocomplete: "current-password"%>
  </div>