<h1>Update User</h1>

<%= form_with model: @user,:url => {:action => :update}  do |form| %>
  <%= render "edit", form: form if  current_user.id == @user.id %>
  <% if can? :change_user_role, User%>
  <div class="field">
     <%= form.label :roles %> <br>
    <%= form.select :roles,   options_for_select( @roles,  params[:selected_value] ),required: true%>
   </div>
   <% end %>
<div>
    <%= form.submit %>
  </div>
<% end %>