<div class="wrapper">
<div class="logo"> <%= image_tag "new_password.png"%> </div>
<div class="text-center mt-4 name">Change your password</div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

    <div class="form-field d-flex align-items-center"> 
      <span class="far fa-user"></span> 
      <%= f.password_field :email, autofocus: true, autocomplete: "new-password", :id=>"pwd",:placeholder=>"new Password"%>
    </div>

  <div class="form-field d-flex align-items-center"> 
      <span class="far fa-user"></span> 
      <%= f.password_field :email, autofocus: true, autocomplete: "confirm-password", :id=>"pwd",:placeholder=>"Password Confirm"%>
    </div>

  <div class="actions">
     <%= f.submit "Change my password", :class=>"btn mt-3" %>
  </div>
<% end %>

<div class="text-center fs-6">Do you want to <%= link_to "Login", new_session_path(resource_name) %> ?<br /></div>

