<div class="wrapper">
<div class="logo"> <%= image_tag "forgot.png"%> </div>
<div class="text-center mt-4 name"> Forgot your password? </div>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-field d-flex align-items-center"> 
      <span class="far fa-user"></span> 
      <%= f.email_field :email, autofocus: true, autocomplete: "email", :id=>"email",:placeholder=>"email"%>
    </div>

    <%= f.submit "Send me reset passwor Link", :class=>"btn mt-3" %>
<% end %>
 <div class="text-center fs-6">Do you want to <%= link_to "Login", new_session_path(resource_name) %> ?<br /></div>
</div>
