<h1>Users</h1>
<%= if can? :create, @users
 link_to "Add New Manager", new_users_crud_path 
 end%>    
<%= link_to "Logout", destroy_user_session_path, data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure for logout?"
}%>

<br><br>
<table border="10" frame="VOID" rules="ALL">
  <tr>
    <th>User Name</th>
    <th>Role</th>
    <th> Action </th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.name %>
    </td>
    <td>
      <%= user.roles.first.name %>
    </td><td>
      <ul>
        <li>
          <%= link_to "Edit", edit_users_crud_path(user) %>
        </li>
      </ul>
    </td>
    
  </tr>
    
  <% end %>

</table>