
<div class="modal  bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  
<div class="wrapper" style="min-height: 530px;box-shadow:none;">

<div class="container"  >
          <div class="text-center mt-4 name"> New User </div>
<div class="col-auto">

    <%= form_with model: @user,:url => {:controller=>"users" ,:action => "create_user"},:html => {:class => 'p-3 mt-3'}  do |form| %>

        <div class="form-field d-flex align-items-center">
          <i class="fa fa-user" aria-hidden="true"></i>
          <%= form.text_field :name, :class=> "form-control",:placeholder=>"User Name" %>
          <% @user.errors.full_messages_for(:name).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>

        <div class="form-field d-flex align-items-center">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <%= form.email_field :email ,:class=>"form-control",:placeholder=>"Email"%>
        
        </div>

        <div class="form-field d-flex align-items-center">
          <i class="fa fa-key" aria-hidden="true"></i>
          <%= form.password_field :password ,:class=>"form-control",:placeholder=>"Password"%>
         
      </div>
        <div class="form-field d-flex align-items-center">
        <i class="fa fa-check" aria-hidden="true"></i>
        <%= form.password_field :password_confirmation,:class=>"form-control",:placeholder=>"Password Confirmation" %>
        
          </div>
    
    

        <div class="form-field d-flex align-items-center">
        <i class="fas fa-users"></i>
        <%= form.select(:roles,get_allRole , { :class => 'form-control' }) %>
        </div>
        <div class="col-12">

        <%= form.submit "Create", :class=>"btn btn-primary mt-3 mb-3"%>
<button id='closeModal' type="button" class="btn btn-danger" data-dismiss="modal" style="color: #fff;background-color: #dc3545;border-color: #dc3545;">Close</button>
           </div>
      
        <% end %>
      </div>

      </div>
      </div>
</div>