
<div class = "container" style ="margin-top: 30px">
<h2 class="head-text mt-6">All Active Users</h2>   

<table border="10" frame="VOID" rules="ALL" class="table table-striped">
  <tr>
    <th>User Name</th>
    <th>Role</th>
    <th> Action </th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.name %>
    </td>
    <td>
      <%= user.roles.first.name %>
    </td>
    <td>
      <%= link_to "Edit", edit_user_path(user), class: 'btn btn-primary' if can? :update, user%>
    </td>
  </tr>
    
  <% end %>
</table>
  

<%= link_to "All Role", role_index_path ,class: 'btn btn-primary' if can? :manage, Role, style: "width: 100px"%> 

<%= link_to "All User", controller:"admin" if can? :manage, User, class: 'btn btn-primary', style: "width: 100px"%> 

<%= link_to "Add New Manager", new_user_path ,class: 'btn btn-primary' if can? :create_user, User%> 

<%= link_to "Project", projects_path, class: 'btn btn-primary' %> 

</div>