<h1>Users</h1>
<%= link_to "Add New Manager", new_user_path %>
<%= link_to "Logout", destroy_user_session_path, data: {
  turbo_method: :delete,
  turbo_confirm: "Are you sure for logout?"
}%>

<br><br>
<table border="10" frame="VOID" rules="ALL">
  <tr>
    <th>User Name</th>
    <th>Role</th>
    <th> Action </th>
  </tr>
  <% @users.each do |user| %>
  <tr>
    <td>
      <%= user.name %>
    </td>
    <td>
      <%= user.roles.first.name %>
    </td><td>
      <ul>
        <li>
          <%= link_to "Edit", edit_user_path(user) %>
        </li>
      </ul>
    </td>
    
  </tr>
    
  <% end %>
</table>
<%= link_to "All Role", role_index_path %> <br>

<%= link_to "All User", controller:"admin",action: "alluser" %> <br>
