<div class = "container" style ="margin-top: 30px">
<h2 class="head-text mt-6">All Active Users</h2>   
<%= link_to "Add New User", new_user_path ,class: 'btn btn-primary' if can? :create_user, User%> 

<div style="display:block;margin-bottom:10%;">

<div class="row">
  <% @users.each do |user| %>
  <div class= "col-sm-12 col-md-6 col-lg-4">
    <div class="user-wrapper m-4 d-flex"  >
      <div class="logo">
        <%=image_tag( user_image(user))%>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= user.name[0..19] %></h5>
        <div class="card-text">
          <%=sanitize get_user_role(user) %>
        </div>
        <div class="card-text">
          <p>Total Projects: <%=sanitize getTotalProjects(user)%></p>
        </div>
        <div>
        <%= link_to "Edit User", edit_user_path(user),class:"btn btn-primary" if current_user.has_role? "admin" %>
        </div>
      </div>
    </div>
  </div>

  <%end%>
</div>
</div>
  <% if @users.count > 9%>
    <div class="apple_pagination">
        <%= will_paginate @users, :container => false %>
    </div>
  <% end%>
</div>

</div>