
<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <div>
    <%= form.label :name, style: "display: block",class:"form-label" %>
    <%= form.text_field :name,class:"form-control" %>
  </div>

  <div>
    <%= form.label :description, style: "display: block",class:"form-label" %>
    <%= form.text_area :description,class:"form-control" %>
  </div>

  <div>
    <%= form.label "Expected Ending date", style: "display: block",class:"form-label" %>
    <%= form.date_select :endingdate,class:"form-control" %>
  </div>

  <div>
    <%= form.label :client, style: "display: block",class:"form-label" %>
     <%= form.select :client_id , @client, :selected => params[:selected_value] %>
  </div>
  <%if(current_user.roles.first.name=="admin")%>
      <div>
        <%= form.label :manager, style: "display: block" %>
        <%= form.select :creator_id , @manager, :selected => params[:selected_manager] %>
    </div>
  <% else %>
    <%=form.hidden_field  :creator_id,value:current_user.id%>
    <%end%>
  <div>
    <%= form.submit:class=>"btn btn-primary" %>
  </div>
<% end %>