<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label "Expected Ending date", style: "display: block" %>
    <%= form.date_select :endingdate %>
  </div>

  <div>
    <%= form.label :client, style: "display: block" %>
     <%= form.select :client_id , @client, :selected => params[:selected_value] %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
