  <%
    task_percentage = 0
    completed = project.sprints.joins(:tasks).select("tasks.id").where("tasks.status = 'Done'").count
    total = project.sprints.joins(:tasks).select("tasks.*").count
    task_percentage = (completed.to_f/total)*100 unless total == 0
  %>

  <div class="col-sm-6 " id="<%= dom_id project %>">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title h2"><%= project.name %></h4>
        <p class="card-text text-muted">
          <%=h truncate(project.description, length: 100) %>
        </p>
        <p class='card-text text-info'>Total Task: <%= total%>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%=task_percentage%>%" aria-valuenow="<%= task_percentage%>%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="card-text text-">
        </p>
        <div class="row">
          <div class="col-12">
            <%= link_to 'View', project,  class: "btn btn-outline-info" %>
            <%= link_to 'Edit', edit_project_path(project),  class: 'btn btn-outline-warning' if can? :update, project %>
            <%= link_to "Delete", 'javascript:;',class:"btn btn-outline-danger" , "onClick" => "deleteProject('#{project.id}')" if can? :destroy, project  %>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  function deleteProject(id) {
    console.log(id);
    column_id="#project_"+id;
    url_str="/projects/"+id;
    // projects/:project_id/sprint/:id
    if (confirm('Are you sure?')) {
      $.ajax
      ({
        type: "delete",
        url: url_str,
        async: false,
        success: function (x){
          $(column_id).remove();
          console.log(x);
          $("#notice").html(x["respons_message"]);
        }
        
      });

    }
   
}

</script>
