<%  task_percentage = 0
    completed = sprint.tasks.where("tasks.status = 'Done'").count
    total = sprint.tasks.count
    task_percentage = (completed.to_f/total)*100 unless total == 0
%>

  <div class="col-3 my-4" id="<%=dom_id sprint%>">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title h2">   <%= sprint.title %></h4>
        <p class="card-text">
       <%= sprint.description[0..100] %>
            <%if(sprint.description.length>10)%>
                ...
            <%end%>
        </p>
        <p class='card-text text-info'>Total Task: <%= total%>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: <%=task_percentage%>%" aria-valuenow="<%= task_percentage%>%" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <small><%= sprint.created_at.localtime %></small><br>
        <div class="btn-group btn-group-sm">
            <%= link_to "View Task", project_sprint_task_index_path(project, sprint), class:"btn btn-success"%>
            <%= link_to "Edit Sprint", edit_project_sprint_path(project_id: project,id:sprint), class:"btn btn-primary" if can? :update, @project%>
        
          <%= link_to "Delete", 'javascript:;',class:"btn btn-danger" , "onClick" => "deleteSprint('#{project.id}','#{sprint.id}')" if can? :destroy, @project  %>
        </div>

      </div>
    </div>
  </div>

<script>
  function deleteSprint(project_id,id) {
    console.log(id,project_id);
    column_id="#sprint_"+id;
    url_str="/projects/"+project_id+"/sprint/"+id;
    // projects/:project_id/sprint/:id
    if (confirm('Are you sure?')) {
      $.ajax
      ({
        type: "delete",
        url: url_str,
        async: false,
        success: function (x){
          $(column_id).remove();
          console.log(x);
          $("#notice").html(x["respons_message"]);
        }
        
      });

    }
   
}

</script>
