<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<p style="color: green"><%= notice %></p>

  <%= link_to "Edit this project", edit_project_path(@project),class:"btn btn-primary" if can? :update, @project %> 
  <%= link_to "Back to projects", projects_path, class:"btn btn-secondary"%>


  <%= link_to "Destroy this project", @project, method: :delete,class:"btn btn-danger", data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } if can? :destroy, @project%>
  <%= link_to "Create Sprint", new_project_sprint_path(@project),class:"btn btn-success" if can? :create, @project %> 

  <%= link_to "Create issue", new_issue_path(@project),class:"btn btn-warning" if can? :create, @project %>
  
  <%= link_to "Show issues", issues_path(@project) ,class:"btn btn-info"%>

  
<%= link_to "My Assigned issues", my_issue_issues_path(@project),class:"btn btn-secondary" %>

 
<h4 class="card-title h2 mt-5">
      Project title: <%= @project.name.capitalize %></h4>
        <p class="card-text text-muted">
          Description: <%= @project.description %>
        </p>
<div>


  

    
</div>
<%if @project.status=="completed" && @project.client_id==current_user.id%>
  
  <%= link_to "Review And Rating", review_rating_projects_path(@project) if can? :review_rating, @project%>
<%end%>
<br>


  
Project is <%=@project.status%> <br> 
<%if can? :update_task_status, @project%>
Change to
<%end%>

<%if @project.status=="completed" &&(can? :update_task_status, @project)%>
   <%= link_to "Ongoing", project_status_projects_path(@project,status: false) if can? :update_task_status, @project %>

  <% else %>
  
   <%= link_to "Completed", project_status_projects_path(@project,status: true),class:"text-success" if can? :update_task_status, @project %>
  
<%end%>
<canvas id="myChart" style="width:50%;max-width:600px"></canvas>  

<h2 class="my-5">All Sprint </h2>
<%@sprint.each do|x|%>
<%= render "sprint",sprint: x,project:@project %>

<%end%>

<script>
var xValues = ["In Progess", "Completed"];
var yValues = [<%=@ongoing%>, <%= @completed%>];
var barColors = [
  "#b91d47",
  "#00aba9"
];

new Chart("myChart", {
  type: "pie",
  data: {
    labels: xValues,
    datasets: [{
      backgroundColor: barColors,
      data: yValues
    }]
  },
  options: {
    title: {
      display: true,
      text: "All Task Status"
    }
  }
});
</script>