

<%= form_with model: role,:url => {:action => place}  do |form| %>
    
        <%= form.label :name ,class:'form-label', style: 'font-size: 25px' %>
        <%= form.text_field :name, class: 'form-control'%>
        <% role.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
        <% end %>

    <%= form.submit class: 'btn btn-info mt-4' %>
  
<% end %>

