
<div class="wrapper">
<div class="logo">
  <%= image_tag "login.png" %>
</div>
<div class="text-center mt-4 name"> Login </div>
<div class="col-auto">
  <%= form_for(resource, as: resource_name,:html => {:class => 'p-3 mt-3'}, url: session_path(resource_name)) do |f| %> 
      <div class="form-field d-flex align-items-center"> 
        <span class="far fa-user"></span> 
        <%= f.email_field :email, autofocus: true, :id=>"email", autocomplete: "email",:placeholder=>"email"%>
      </div>

      <div class="form-field d-flex align-items-center"> 
        <span class="fas fa-key"></span> 
        <%= f.password_field :password, autocomplete: "current-password", :id=>"pws", :placeholder=>"Password"%>
      </div> 
        
      <%= f.submit "Login", :class=> "btn mt-3"%>

      <div class="text-center fs-6">
        <%= render "devise/shared/links", :class=>"d-flex justify-content-center"%>
    </div>
  <% end %>
</div>
</div>
